# Note: If you change a permission's name in the config, you must also change it here.
# Syntax: add_ace <group> <permission name> <allow/deny>

add_ace builtin.everyone rhud.config.open allow
add_ace builtin.everyone rhud.config.layout allow
add_ace builtin.everyone rhud.config.color allow

add_ace group.admin rhud.config.export allow

add_ace group.admin rhud.aop allow

add_ace group.admin rhud.peacetime allow

add_ace builtin.everyone rhud.priority.active allow
add_ace builtin.everyone rhud.priority.cooldown allow
add_ace builtin.everyone rhud.priority.onhold allow
add_ace builtin.everyone rhud.priority.reset allow

add_ace group.admin rhud.player.heal_self allow
add_ace group.admin rhud.player.heal_other allow

# This line is needed for the seatbelt to work
setr game_enableFlyThroughWindscreen true
